<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>ajax试验</title>

	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	    $(function(){
	      // 求和 a + b
	      $("#sum").click(function(){
	        var a = $("#a").val();
	        var b = $("#b").val();	 
	        $.post("{% url 'ajax_test_add' %}", {'a':a,'b':b}, function(ret){
	            $('#result').html(ret.result);
	        })
	      });
	    });

	    $(function(){
	      // 测试后台api
	      $("#api_test").click(function(){
	        $.post("{% url 'ajax_test_api_test' %}", {}, function(ret){
	            $('#api_result').html(ret.api_result);
	        })
	      });
	    });
	</script>
</head>

<body>
	<p>请输入两个数字</p>
	<form>
	    a: <input type="text" id="a" name="a"> <br>
	    b: <input type="text" id="b" name="b"> <br>
	    <p>result: <span id="result"></span></p>
	    <button type="button" id='sum'>提交</button>
	    <p>api_result: <span id="api_result"></span></p>
	    <button type="button" id='api_test'>测试</button>
	</form>	
</body>
</html>