<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>生成动态表格</title>
	<link rel="stylesheet" type="text/css" href="/statics/css/table.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/tree_list.css">

	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">$(main);

    	function main(){
          	// 表格头与表格内容同步滑动
        	$('#id_td_container').scroll(function(){$('#id_th_container').scrollLeft($(this).scrollLeft());})
        	$('#id_th_container').scroll(function(){$('#id_td_container').scrollLeft($(this).scrollLeft());})

            var t_head;
            var t_type;
            var t_rows;
            
    		// 初次加载页面
          	$(window).load(windowOnLoad);
    	}

    	// 初次加载页面
    	function windowOnLoad(){
    		// 初始化表格
            $.post("{% url 'ajax_table_company' %}", {}, table_postOnLoad);
            $.post("{% url 'ajax_jquery_tree' %}", {}, tree_postOnLoad);
    	}


    	// 向服务器端请求关于表格的数据
    	function table_postOnLoad(ret){
        	t_head = JSON.parse(ret.t_head);
        	t_type = JSON.parse(ret.t_type);
            t_rows = JSON.parse(ret.t_rows);

            fillForms();		//生成表单群

            fillTableData();	// 填充表格内容
            
            $('#id_th_container th').click(thOnClick);  // 表头单击事件
            $('#id_td_container tr').click(trOnClick);  // 表格内容单击事件
    	}
        	// 创建表单群
        	function fillForms(){
                var div_forms = $('#id_form_container');
                div_forms.empty();
                for (var i in t_head){
                	var label = $('<label>' + t_head[i] + '：</label>');
                	if (t_type[i] == '文本型'){
                		var form = $('<textarea type=\"text\" name=\"' + t_head[i] + '\" id=\"id_' + t_head[i] + '\" disabled=\"disabled\" />');}
                	else{
                		var form = $('<input type=\"text\" name=\"' + t_head[i] + '\" id=\"id_' + t_head[i] + '\" disabled=\"disabled\" />');
                	}
                	label.addClass('auto_created_form');
                	form.addClass('auto_created_form');
                	label.addClass(t_type[i]);
                	form.addClass(t_type[i]);
                	div_forms.append(label);
                	div_forms.append(form);
                	label = null;
                	form = null;
                }
                div_forms = null;
        	}
            // 填充表格内容
            function fillTableData(){
            	//填充标题栏
                var tr = $("#id_t_head");
                tr.empty()
                for (var i in t_head){
                	var th = $('<th id=\"id_real_th_' + i + '\"></th>');
                	th.html(t_head[i]);
                	th.addClass(t_type[i]);
                	tr.append(th);
                	th = null;
                }
                tr = null;
                //填充本体
                var tb = $("#id_ajax_table");
                $('#id_ajax_table tr:not(#id_t_head)').remove();
                for (var i in t_rows){
                	var tr = $('<tr id=\"id_tr_' + i + '\"></tr>');
                	tb.append(tr);
            		if (i % 2 == 0){
            			tr.addClass('odd');}
            		else{
            			tr.addClass('even');}
                	for (var j in t_rows[i]){
                		var td = $('<td id=\"id_td_' + i + '_' + j + '\"></td>');
                		td.addClass(t_type[j]);
                		td.html(t_rows[i][j]);
                		tr.append(td);
                		td = null;
                	}
                	tr = null;
                }
                tb = null;
            }            
            // 表头单击事件
            function thOnClick(event){
                var myArray = t_rows.slice(0)
                var index = this.id.split("_")[3];    // 取得点击列的index

                var title = this.innerHTML;
                for (var i in t_head) {
                    $('#id_real_th_' + i).html(t_head[i]);
                }

                if (title.indexOf('↑') <= 0) {
                    // 正序排列该列，同时标记之
                    $('#id_real_th_' + index).html(t_head[index] + '↑');
                    myArray.sort(function(a, b){
                        if (t_type[index] == '整数型'){
                            return (a[index]?a[index]:0) - (b[index]?b[index]:0);
                        }else if (t_type[index] == '浮点型') {
                            var re = new RegExp(",", "g");
                            return (a[index]?a[index]:'0').replace(re, '') - (b[index]?b[index]:'0').replace(re, '');
                            re = null;
                        }else if (t_type[index] == '百分比') {
                            var re = new RegExp("\%", "g");
                            return (a[index]?a[index]:'0').replace(re, '') - (b[index]?b[index]:'0').replace(re, '');
                            re = null;
                        }else if (t_type[index] == '日期型') {
                            var re = new RegExp("-", "g");
                            return (a[index]?a[index]:'0').replace(re, '') - (b[index]?b[index]:'0').replace(re, '');
                            re = null;
                        }else{
                            if ((a[index]?a[index]:'') < (b[index]?b[index]:'')) {
                                return -1;
                            }else{
                                return 1;
                            }
                        }
                    })
                }else{
                    // 逆序排列该列，同时标记之
                    $('#id_real_th_' + index).html(t_head[index] + '↓');
                    myArray.reverse();
                }

                // 将排序好的数据替换源数据
                t_rows = myArray;

                // 填充表格
                for (var i in t_rows) {
                    for (var j in t_head) {
                        $('#id_td_' +i+ '_' +j).html(t_rows[i][j]);
                    }
                }

                //清空表单内容
                for (var i in t_head){
                    $('#id_' + t_head[i]).val(null);
                }

                myArray = null;
                index = null;
            }
        	// 表格内容单击事件
            function trOnClick(event){
            	// 变色
            	$('tr').removeClass('onClick');
            	$(this).addClass('onClick');
            	var row = this.id.split("_")[2];
            	$('#id_table_abstract').html(t_rows[row][0]);
            	//填充表单内容
            	for (var i in t_head){
            		var value = t_rows[row][i];
            		$('#id_' + t_head[i]).val(value);
            		value = null;
            	}
            	row = null;
            }


        // 向服务器端请求关于树的数据
        function tree_postOnLoad(ret){
            tree_datas = ret;

            create_tree('#id_tree_list', tree_datas, click_tree_postOnLoad);
        }
            // 将树数据组装成树arg=(树ul的id， 树中要装载的数据———套装数列，单击事件回调函数)
            function create_tree(id_treeUl, data_tree, tree_click_func){
                var outerUl = $(id_treeUl);
                outerUl.empty();
                // 建立递归解树
                function makeTree(nodeRoot, data){
                    var nodeChild = nodeRoot
                    for (i in data){
                        if (data[i][0].constructor == Array)
                        {
                            makeTree(nodeChild, data[i]);
                        }else{          
                            var li = $('<li id=\"id_li_'+data[i][0]+'\">'+(data[i][2] || data[i][1])+'</li>');
                            var ul = $('<ul id=\"id_ul_'+data[i][0]+'\"></ul>');
                            li.addClass('tree_list');
                            ul.addClass('tree_list');
                            nodeRoot.append(li);
                            li.append(ul);
                            nodeChild = ul;
                        }
                    }
                }
                makeTree(outerUl, data_tree);
                $('ul.tree_list:empty').remove();   // 清除空的ul

                //设置包含ul子元素的li元素的样式
                $(id_treeUl + ' li:has(ul)').css(
                {
                    'list-style-image': 'url(/statics/images/+.gif)'            // 设置项目符号图标为“+”
                });

                //隐藏当前 li 的所有子元素
                $(id_treeUl + ' li:has(ul)').children().hide();

                //如果li包含ul，则绑定click事件
                $(id_treeUl + ' li:has(ul)').click(function(event){
                    var click_refpos = event.pageX - $(event.target).offset().left;  // 取得鼠标点击的相对位置（-16 ~ -9之间说明点在+号上）
                    if (this==event.target && click_refpos >= -16 && click_refpos <= -9) {//如果当前li就是事件触发的目标对象
                        if ($(this).children().is(':hidden')) 
                        {
                            //如果当前li的子元素隐藏，则修改li的项目符号图标为“-”并显示所有子元素
                            $(this).css('list-style-image','url(/statics/images/-.gif)').children().show();
                        }
                        else
                        {
                            //否则修改li的项目符号图标为“+”，并隐藏所有子元素
                            $(this).css('list-style-image', 'url(/statics/images/+.gif)').children().hide();
                        }
                    }else if (click_refpos > 0) { // 点击本体时
                        // 高亮选中的item
                        var id = event.target.id.split("_")[2];
                        $(id_treeUl + ' li').css('background', 'white');
                        $('#id_li_' + id).css('background', 'rgb(120, 211, 210)');

                        //刷新表格
                        $.post("{% url 'ajax_table_company' %}", {'clicked_id': id}, tree_click_func);
                    }
                    return false;
                })
            }
            // 树中的单击事件
            function click_tree_postOnLoad(ret){
                t_head = JSON.parse(ret.t_head);
                t_type = JSON.parse(ret.t_type);
                t_rows = JSON.parse(ret.t_rows);

                //填充本体
                var tb = $("#id_ajax_table");
                $('#id_ajax_table tr:not(#id_t_head)').remove();
                for (var i in t_rows){
                    var tr = $('<tr id=\"id_tr_' + i + '\"></tr>');
                    tb.append(tr);
                    if (i % 2 == 0){
                        tr.addClass('odd');}
                    else{
                        tr.addClass('even');}
                    for (var j in t_rows[i]){
                        var td = $('<td id=\"id_td_' + i + '_' + j + '\"></td>');
                        td.addClass(t_type[j]);
                        td.html(t_rows[i][j]);
                        tr.append(td);
                        td = null;
                    }
                    tr = null;
                }

                //清空表单内容
                for (var i in t_head){
                    $('#id_' + t_head[i]).val(null);
                }

                $('#id_td_container tr').click(trOnClick);  // 表格内容单击事件
            }

	</script>
</head>

<body>
    <div style="overflow: auto; height: 750px">
        <div class="horizontal">   <!-- 表单、表格区域 -->
        	<div id="id_form_container" class="form_container"></div>

        	<div id="id_table_container" class="table_container">
        		<button type="button">按钮1</button>
        		<button type="button">按钮2</button>
        		<button type="button">按钮3</button>
        		<p id="id_table_abstract">摘要</p>
        		<div id="id_th_container" class="th_container">
        			<table>
        				<tr id="id_t_head" class="t_head"></tr>
        			</table>
        		</div>
        		<div id="id_td_container" class="td_container">
        		    <table id="id_ajax_table" class="ajax_table"></table>
        		</div>
        	</div>
        </div>

        <div id = "id_div_tree_list" class="horizontal">   <!-- 树形列表区域 -->
            <ul id="id_tree_list" class="tree_list" style="width: 1000px;"></ul>
        </div>
    </div>

</body>
</html>