<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>测试表单群</title>
</head>
<body>
  <div id="dataforlayer" style="display: none;"> <!-- style="display: none;" -->

    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="row clearfix">
            <div class="col-md-3 column">
               <label for="id_付款识别码">付款识别码</label><input class="form-control" type="text" id="id_付款识别码" />
            </div>
            <div class="col-md-3 column">
               <label for="id_付款备注">付款备注</label><textarea class="form-control" type="text" id="id_付款备注" /></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- Jquery组件引用 -->
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- bootstrap组件引用 -->
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap-table组件引用 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.css">  
  <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
  <!-- zTree组件引用 -->
  <link rel="stylesheet" href="/statics/css/demo.css" type="text/css">
  <link rel="stylesheet" href="/statics/css/zTreeStyle/zTreeStyle.css" type="text/css">
  <script type="text/javascript" src="/statics/js/jquery.ztree.core.js"></script>
  <!-- layer组件引用 -->  
  <script type="text/javascript" src="/statics/js/layer.js"></script>
  <script type="text/javascript">$(main);

    function main(){

      layer.open({
        type: 1,
        title: '付款信息',
        skin: 'layui-layer-rim', //加上边框
        area: [], //宽高
        offset: ['50px', '50px'],
        content: $('#dataforlayer').html(),
      });

    }

  </script>

</body>
</html>