<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同变更信息详情</title>
  <style type="text/css">
    .selected {
      color: maroon;
    }
    strong {
      color: red;
    }
    .style_float{
      text-align: right;
    }
    .style_percent{
      text-align: right;
    }
    .style_input{
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="id_container" class="container-fluid">

    <!-- 按钮组 -->
    <div id="id_btns" class="row clearfix" style="margin-top: 4px;">
      <div class="btn-toolbar" role="toolbar" style="float: left;">
        <button class="btn btn-default btn-01 btn-bottom" id="id_btn_Attach">查看附件</button>
        <button class="btn btn-default btn-01 btn-bottom" id="id_btn_Table" >生成表格</button>
        <button class="btn btn-default btn-01 btn-bottom" id="id_btn_Save"  >保存</button>
        <button class="btn btn-default btn-01 btn-bottom" id="id_btn_Cancel">取消</button>
      </div>
    </div>

  </div>

  <!-- Jquery组件引用 -->
  <script src="/statics/js/jquery.min.js"></script>
  <!-- bootstrap组件引用 -->
  <link rel="stylesheet" href="/statics/css/bootstrap.min.css">
  <script src="/statics/js/bootstrap.min.js"></script>
  <!-- bootstrap-table组件引用 -->
  <link rel="stylesheet" href="/statics/css/bootstrap-table.css">
  <script src="/statics/js/bootstrap-table.min.js"></script>
  <script src="/statics/js/bootstrap-table-zh-CN.js"></script>
  <!-- layer -->
  <script type="text/javascript" src="/statics/js/layer.js"></script>
  <!-- edwin常用函数集合 -->
  <script type="text/javascript" src="/statics/js/often_by_Edwin_201712182301.js"></script>

  <script type="text/javascript">
    $.ajaxSetup({
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
    });

    // 构造表单
    var composing = [
      {
        'section_word':   '基本资料',
        'section_btn':    true,
        'key_word':       ['分包合同识别码', '分包合同类别', '分包合同编号', 'nextLine', '分包合同名称', 'nextLine', '分包合同主要内容',],
        'short_key':      [null, null, null, 'nextLine', null, 'nextLine', null,],
        'input_type':     ['text', 'text', 'text', 'nextLine', 'text', 'nextLine', 'textarea',],
        'value_type':     ['input', 'input', 'input', 'nextLine', 'input', 'nextLine', 'text',],
        'input_width':    [1, 1, 2, 'nextLine', 6, 'nextLine', 6,],
        'input_height':   [null, null, null, 'nextLine', null, 'nextLine', 50,],
        'font_size':      [12, 12, 12, 'nextLine', 12, 'nextLine', 12,],
        'edit_btn':       [false, false, false, 'nextLine', false, 'nextLine', false,],
      },
      {
        'section_word':   '总包合同资料',
        'section_btn':    true,
        'key_word':       ['立项识别码', '项目名称', '分项名称', 'nextLine', '合同识别码', '总包合同类别', '总包合同编号', 'nextLine', '总包合同名称', 'nextLine', '总包合同主要内容',],
        'short_key':      [null, null, null, 'nextLine', null, null, null, 'nextLine', null, 'nextLine', null,],
        'input_type':     ['text', 'text', 'text', 'nextLine', 'text', 'text', 'text', 'nextLine', 'text', 'nextLine', 'textarea',],
        'value_type':     ['input', 'input', 'input', 'nextLine', 'input', 'input', 'input', 'nextLine', 'input', 'nextLine', 'text',],
        'input_width':    [1, 1, 2, 'nextLine', 1, 1, 2, 'nextLine', 6, 'nextLine', 6,],
        'input_height':   [null, null, null, 'nextLine', null, null, null, 'nextLine', null, 'nextLine', null,],
        'font_size':      [12, 12, 12, 'nextLine', 12, 12, 12, 'nextLine', 12, 'nextLine', 12,],
        'edit_btn':       [false, false, false, 'nextLine', false, false, false, 'nextLine', false, 'nextLine', false,],
      },
      {
        'section_word':   '单位资料',
        'section_btn':    false,
        'key_word':       ['甲方识别码', '甲方单位名称', 'nextLine', '乙方识别码', '乙方单位名称', 'nextLine', '丙方识别码', '丙方单位名称', 'nextLine', '丁方识别码', '丁方单位名称',],
        'short_key':      [null, null, null, null, null, null, null, null, null, null, null,],
        'input_type':     ['text', 'text', 'nextLine', 'text', 'text', 'nextLine', 'text', 'text', 'nextLine', 'text', 'text',],
        'value_type':     ['input', 'input', 'nextLine', 'input', 'input', 'nextLine', 'input', 'input', 'nextLine', 'input', 'input',         ],
        'input_width':    [1, 4, 'nextLine', 1, 4, 'nextLine', 1, 4, 'nextLine', 1, 4,],
        'input_height':   [null, null, 'nextLine', null, null, 'nextLine', null, null, 'nextLine', null, null,],
        'font_size':      [12, 12, 'nextLine', 12, 12, 'nextLine', 12, 12, 'nextLine', 12, 12,],
        'edit_btn':       [false, true, 'nextLine', false, true, 'nextLine', false, true, 'nextLine', false, true,],
      },
      {
        'section_word':   '财务资料',
        'section_btn':    false,
        'key_word':       ['总包合同值', '分包合同值_签订时', 'nextLine', '分包合同值_最新值', '分包合同值_最终值',],
        'short_key':      ['总包合同值', '分包合同签订值', 'nextLine', '分包合同最新值', '分包合同最终值',],
        'input_type':     ['text', 'text', 'nextLine', 'text', 'text',],
        'value_type':     ['float', 'float', 'nextLine', 'float', 'float',],
        'input_width':    [2, 2, 'nextLine', 2, 2,],
        'input_height':   [null, null, 'nextLine', null, null,],
        'font_size':      [12, 12, 'nextLine', 12, 12,],
        'edit_btn':       [false, true, 'nextLine', true, true,],
      },
      {
        'section_word':   '日期资料',
        'section_btn':    true,
        'key_word':       ['分包合同签订时间',],
        'short_key':      [null,],
        'input_type':     ['date',],
        'value_type':     ['input',],
        'input_width':    [1,],
        'input_height':   [null,],
        'font_size':      [10,],
        'edit_btn':       [false,],
      },
      {
        'section_word':   '其他资料',
        'section_btn':    true,
        'key_word':       ['分包合同备注', ],
        'short_key':      [null,],
        'input_type':     ['textarea',],
        'value_type':     ['text',    ],
        'input_width':    [6,         ],
        'input_height':   [100,       ],
        'font_size':      [12,        ],
        'edit_btn':       [false,     ],
      },
    ];

    var child_data = {};
    var dict_Chn_Eng = {
      '单位': 'Company',
      '立项': 'Init',
      '招标': 'Bidding',
      '合同': 'Contract',
      '变更': 'Alteration',
      '分包合同': 'SubContract',
      '预算': 'Budget',
      '付款': 'Payment',
    };
    var key_frame = parent.child_data['key_table'];
    var data_head = parent.child_data['data_head'];
    var data_type = parent.child_data['data_type'];
    var data_value = parent.child_data['data_value'];
    var data_head_type = twoListToOneDict(data_head, data_type);
    $(main);

    function main() {
      // 初次加载页面
      $(window).load(windowOnLoad);
    }

    function windowOnLoad() {
      // 绘制表单
      var div_forms = $('#id_container');
      var i, j, div_section, html_sectionHead, html_row, html_unit;
      var section_word, section_btn;
      var key_word, input_type, input_width, input_height, font_size, edit_btn;

      for (i = 0; i < composing.length; i++) {    // 遍历composing数组
        // 建立section头
        section_word = composing[i].section_word;
        section_btn = composing[i].section_btn;
        div_section = $('<div name="Section_'+section_word+'"></div>');
        if (section_btn) {
          html_sectionHead = $('<div class="row clearfix"><div class="col-sm-1" style="padding: 0px; margin: 0px;"><h5 style="text-align: center;">'+section_word+'</h5></div><div class="col-sm-1" style="padding: 0px; margin: 0px;"><button id="id_button_'+section_word+'" class="btn btn-default btn-edit" type="button">修改</button></div></div>');
        }else{
          html_sectionHead = $('<div class="row clearfix"><div class="col-sm-1" style="padding: 0px; margin: 0px;"><h5 style="text-align: center;">'+section_word+'</h5></div></div>');
        };
        div_section.append(html_sectionHead);
        // 遍历每一行
        html_row = $('<div class="row clearfix" style="margin-bottom: 6px;"></div>');
        for (j = 0; j < composing[i].key_word.length; j++) {
          key_word     = composing[i].key_word[j];
          short_key    = composing[i].short_key[j] || key_word;
          input_type   = composing[i].input_type[j];
          value_type   = composing[i].value_type[j];
          input_width  = composing[i].input_width[j];
          input_height = composing[i].input_height[j];
          font_size    = composing[i].font_size[j];
          edit_btn     = composing[i].edit_btn[j];
          if (input_type == 'text' || input_type == 'date') {   // 对一般文本/日期 表单
            html_unit = '<div class="col-sm-1" style="padding: 0px; margin: 0px;"><label class="pull-right" style="font-size: 12px; padding-top: 4px; padding-right: 10px;">'+short_key+'</label></div>';
            if (edit_btn) {   // 附带<修改>按钮时
              html_unit += '<div class="col-sm-'+input_width+'" style="padding: 0px; margin: 0px;"><div class="input-group"><input type="'+input_type+'" name="'+key_word+'" id="id_'+key_word+'" class="style_'+value_type+'" style="width: 100%;font-size: '+font_size+'px;" /><span class="input-group-btn"><button id="id_button_'+key_word+'" class="btn btn-default btn-edit" type="button">修改</button></span></div></div>';
            }else{    // 不带<修改>按钮时
              html_unit += '<div class="col-sm-'+input_width+'" style="padding: 0px; margin: 0px;"><input type="text" name="'+key_word+'" id="id_'+key_word+'" class="style_'+value_type+'" style="width: 100%;font-size: '+font_size+'px;" /></div>';
            };
            // 将html添加进行
            html_row.append($(html_unit));
          }else if (input_type == 'textarea') {   // 对富文本表单
            html_unit = $('<div class="col-sm-1" style="padding: 0px; margin: 0px;"><label class="pull-right" style="font-size: 12px; padding-top: 4px; padding-right: 10px;">'+short_key+'</label></div><div class="col-sm-'+input_width+'" style="padding: 0px; margin: 0px;"><textarea type="text" name="'+key_word+'" id="id_'+key_word+'" class="style_'+value_type+'" style="resize: none; width: 100%; height: '+input_height+'px; text-align: left; font-size: '+font_size+'px;" /></textarea></div>');
            // 将html添加进行
            html_row.append(html_unit);
          }else if (input_type == 'nextLine'){    // 对换行符
            div_section.append(html_row);
            // 另起一行
            html_row = $('<div class="row clearfix" style="margin-bottom: 6px;"></div>');
          };
        };
        div_section.append(html_row);
        // 下划线
        div_section.append($('<hr />'));
        $('#id_btns').before(div_section);
      };

      // 数据呈现控件
      for (var key in data_head_type) {
        // 格式化数据
        var input_value = data_value[key];
        if ((!input_value && typeof(input_value) != "undefined" && input_value != 0)) {
          input_value = '';
        } else if (data_head_type[key] == '浮点型') {
          input_value = toThousands(input_value);
        } else if (data_head_type[key] == '百分比') {
          input_value = toPercents(input_value);
        }
        // 填充数值
        $('#id_' + key).val(input_value);
      }
      // 将修改按钮设为不可用
      $('.btn-edit,.btn-bottom').attr('disabled', 'disabled');
      // 将input和textarea设为不可用
      $('input,textarea').attr('readonly', 'readonly');
      // 为各按钮注册事件
      // 查看附件
      $('#id_btn_Attach').removeAttr('disabled');
      $(document).on('click', '#id_btn_Attach', function() {
        child_data['key_frame'] = key_frame;
        var UDID = $('input')[0].value;
        child_data['UDID'] = UDID;
        var key_url = dict_Chn_Eng[child_data['key_frame']];
        var content_url = "{% url 'attachFrame' 'ewhuvlk' %}"
        // 打开查看附件框架
        layer.open({
          type: 2,
          title: '查看' + key_frame + '附件详情',
          area: ['100%', '100%'],
          content: content_url.replace('ewhuvlk', key_url),
        });
      });
    }
  </script>

</body>
</html>