<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>请输入...</title>
  <style type="text/css">
    input{
      height: 30px !important;
    }
  </style>
</head>
<body>
  <div id="id_container" class="container-fluid">
    <!-- 添加各种表单，标签、填写要求一行，文本框一行 -->
    <!-- 最下面是确定、取消 -->
  </div>

  <!-- edwin常用函数集合 -->
  <link rel="stylesheet" href="/statics/css/online_20180105.css">
  <script type="text/javascript" src="/statics/js/online_20180105.js"></script>
  <script type="text/javascript" src="/statics/js/often_by_Edwin_201712182301.js"></script>

  <script type="text/javascript">
    $(main);

    function main() {
      // 初次加载页面
      $(window).load(windowOnLoad);
    };

    function windowOnLoad() {};
  </script>

</body>
</html>