<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>测试函数</title>
  <style type="text/css">
    .selected {
      color: maroon;
    }
    strong {
    	color: red;
    }
    .btn-01{
      height: 50px;
      margin: 5px 0px 0px 0px;
    }

  </style>
</head>
<body>
	<p></p>

  <!-- Jquery组件引用 -->
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- edwin常用函数集合 -->
  <script type="text/javascript" src="/statics/js/often_by_Edwin_201712182301.js"></script>

  <script type="text/javascript">
    
    var arithmetic_expression = 'abc<abd';
    
    var dict_priority = {
      '!':       10,
      '^':       9,
      '/':       8,
      '*':       8,
      '-':       7,
      '+':       7,
      '=>':      6, // 包含
      '!>':      6, // 不包含
      '>':       6,
      '<':       6,
      '>=':      6,
      '<=':      6,
      '=':       5,
      '!=':      5,
      '&&':      4,
      '||':      3,
      '(':       2,
      ')':       1,
      '\0':     -1,
    };

    var pattern = '';
    var pattern_multi = '';
    var pattern_test = '';
    var pattern_multi_test = '';

    for (var operator in dict_priority) {
      if (operator == '\0') {break};
      pattern += (pattern.indexOf('\\'+operator[0]) >= 0) ? '' : ((pattern.length > 0) ? '|\\' : '\\')+operator[0];
      pattern_test += ((pattern_test.length > 0) ? '|\\' : '\\')+operator[0] + ((operator.length == 2) ? '\\'+operator[1] : '');
      if (operator.length == 2) {
        pattern_multi += (pattern_multi.indexOf('\\'+operator[0]) >= 0) ? '' : ((pattern_multi.length > 0) ? '|\\' : '\\')+operator[0];
        pattern_multi_test += ((pattern_multi_test.length > 0) ? '|\\' : '\\')+operator[0] + ((operator.length == 2) ? '\\'+operator[1] : '');
      };
    };
    console.log(pattern_multi_test);
    console.log('\\&\\&|\\|\\||\\!\\=|\\>\\=|\\<\\=|\\=\\>|\\!\\>');

  </script>

</body>
</html>
